<launch>

    <!-- Launch Task-3 Simulation Environment in Gazebo -->
    <include file="$(find pkg_vb_sim)/launch/task3_simulation.launch" />

    <!-- Launch Moveit Group Node -->
    <include file = "$(find pkg_moveit_ur5_1)/launch/move_group.launch" /> 

    <!-- Run RViz with Moveit! Plugin -->
    <arg name="use_rviz" default="true" />

    <include file="$(find pkg_moveit_ur5_1)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
        <arg name="rviz_config" value="$(find pkg_moveit_ur5_1)/launch/moveit.rviz"/>
    </include>

    <!-- This node is acting as a Simple Action Server for controlling the UR5 -->
    <node pkg="pkg_task3" type="node_simple_action_server_ur5.py" name="node_simple_action_server_ur5" output="screen" />
    <!-- This node is acting as a Simple Action Client and for controlling the Conveyor Belt -->
    <node pkg="pkg_task3" type="node_simple_action_server_ur5.py" name="node_simple_action_server_ur5" output="screen" />

</launch>
